<!DOCTYPE html>
<html>
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TR - Toys Rent B08</title>
    <link rel="icon" href="{% static 'home/images/toys.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
<div class="col-md-12 row container">
    <div class="col-md-7">
        <h1 class="text-white font-weight-bold">TR - Toys Rent</h1>
        <br>
        <p class="text-justify font-weight-normal">
            Platform Peminjaman & Rental Mainan Terbaik Sedunia Hewan dan Tumbuhan
            TR menyediakan berbagai macam permainan dari permainan normies hingga permainan untuk kaum wibu
            TR memberikan harga terjangkau untuk semua produk permainan yang tersedia
            Ayo daftar sekarang dan rasakan kemudahan meminjam mainan di TR!
        </p>
        <br>
        <a href="/auth/login">
            <button class="btn btn-danger">Masuk</button>
        </a>
        <a href="/auth/register/admin">
            <button class="btn btn-dark">Daftar Admin</button>
        </a>
        <a href="/auth/register/member">
            <button class="btn btn-dark register-as-anggota">Daftar Anggota</button>
        </a>
    </div>
    <div class="col-md-5">
        <img src="{% static 'home/images/toys.png' %}">
    </div>
</div>
</body>
</html>