{% extends 'navbar.html' %}

{% block title %}
    Chats
{% endblock %}

{% block css %}
    <style>
        h1 {
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align:center;
            padding: 8px;
        }

        tr:hover {
            background-color: rgb(245, 236, 198);
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Your chats</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Pesan</th>
            <th>Time stamp</th>
            <th>No ktp anggota</th>
            <th>No ktp admin</th>
        </tr>

        {% for d in data %}
        <tr>
            {% if request.session.user == d.no_ktp_admin %}
            <td> {{ d.id }} </td>
            <td> {{ d.pesan }} </td>
            <td> {{ d.date_time }} </td>
            <td> {{ d.no_ktp_anggota }} </td>
            <td> {{ request.session.user }} </td>
            {% endif %}

            {% if request.session.user == d.no_ktp_anggota %}
            <td> {{ d.id }} </td>
            <td> {{ d.pesan }} </td>
            <td> {{ d.date_time }} </td>
            <td> {{ request.session.user }} </td>
            <td> {{ d.no_ktp_admin }} </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}