{% extends 'navbar.html' %}

{% block title %}
List Order
{% endblock  %}

{% block content %}
<style>
    * {
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr:hover {
        background-color: rgb(184, 184, 184);

    }

    #utama {
        background-color: #aedfe5;
        color: black;
    }

    .container {
        margin-top: 30px;
        position: relative;
    }

    .section-form {
        margin-top: 40px;
        margin: 3em auto;
        padding: 2em;
    }
    .bubu {
    cursor: pointer;
    margin: 0;
    padding: .2em 1em;
    background: #aedfe5;
    border: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
  }
  .bubu2 {
    cursor: pointer;
    margin: 0;
    padding: .2em 1em;
    background: #ffbcc4;
    border: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
  }
</style>

<div class="section-form">
    <h1 style="text-align:center;">DAFTAR PESANAN</h1>
    <br>
    <table class="table">
        <tr id="utama">
            <th scope="col">ID PESANAN</th>
            <th scope="col">WAKTU PESANAN</th>
            <th scope="col">JUMLAH BARANG</th>
            <th scope="col">HARGA SEWA</th>
            <th scope="col">ONGKOS</th>
            <th scope="col">NO. KTP PEMESAN</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
        </tr>

        {% for d in data %}
        <!-- ini get datanya diubah -->
        <tr>
            <th> {{ d.id_pemesanan}}</th>
            <th> {{ d.datetime_pesanan }}</th>
            <th> {{ d.kuantitas_barang }}</th>
            <th> {{ d.harga_sewa }}</th>
            <th> {{ d.ongkos }}</th>
            <th> {{ d.no_ktp_pemesan }}</th>
            <th> {{ d.status }}</th>
            {% if request.session.role == "anggota" %}
            <th>
                <a href="#" class="bubu" role="button" aria-pressed="true">Update</a>
                <a href="#" class="bubu2" role="button" aria-pressed="true" id='myBtn'>Delete</a>
            </th>
            {% else %}
            <th>
                <a href="#" class="bubu" role="button" aria-pressed="true">Update</a>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}