{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
TR Login
{% endblock %}
{% block css %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'auth_system/js/auth.js' %}"></script>
{% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card w-50 bg-dark text-white">
            {% if request.session.role == None %}
            <div class="card-body">
                <div class="text-center">
                    <h4> Please Login to Continue </h4>
                    <br>
                    <!-- Message Cards -->
                    <div class="card bg-info d-none" id="waitCard">
                        <div class="card-body">
                            <b><span class="text-white">Logging In... Please Wait!</span></b>
                        </div>
                    </div>
                    <div class="card bg-success d-none" id="successCard">
                        <div class="card-body">
                            <b><span id="success" class="text-white"></span></b>
                        </div>
                    </div>
                    <div class="card bg-danger d-none" id="errorCard">
                        <div class="card-body">
                            <b><span id="error" class="text-white"></span></b>
                        </div>
                    </div>
                    <!-- Message Card Ends -->
                </div>
                {% csrf_token %}
                {{ login_form | crispy }}
                <div class="text-center">
                    <button class="btn btn-danger" id="login_button" onclick="do_login_user()">Login</button>
                    <br><br>
                    <p>Don't Have Account ?</p>
                    <a class="btn btn-primary" href="/auth/register/admin" role="button">Register Admin</a>
                    <a class="btn btn-primary" href="/auth/register/member" role="button">Register Member</a>
                </div>
            </div>
            {% else %}
            <div class="card-body">
                <div class="text-center">
                    <h4>Hello! {{ request.session.nama_lengkap }} </h4>
                    <p>You Are Already Logged in into ToysRent, Enjoy!</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
