{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
TR Registraion
{% endblock %}
{% block css %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'auth_system/js/auth.js' %}"></script>
{% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card w-50 bg-dark text-white">
            <div class="card-body">
                <div class="text-center">
                    <h4>Register Your Account Now</h4>
                    <br>
                    <!-- Message Cards -->
                    <div class="card bg-info d-none" id="waitCard">
                        <div class="card-body">
                            <b><span class="text-white">Registering... Please Wait!</span></b>
                        </div>
                    </div>
                    <div class="card bg-success d-none" id="successCard">
                        <div class="card-body">
                            <b><span id="success" class="text-white"></span></b>
                        </div>
                    </div>
                    <div class="card bg-danger d-none" id="errorCard">
                        <div class="card-body">
                            <b><span id="error" class="text-white"></span></b>
                        </div>
                    </div>
                    <!-- Message Card Ends -->
                </div>
                {% csrf_token %}
                {{ registration_form | crispy }}
                {% if role == "member" %}
                <p class="text-center font-weight-bold"> Please Insert Your Address Below </p>
                {% csrf_token %}
                {{ address_form | crispy }}
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-danger" id="login_button" onclick="do_register_user('{{role}}')">Register
                    </button>
                    <br><br>
                    <p>Already Have Account ?</p>
                    <a class="btn btn-primary" href="/auth/login" role="button">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
