body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 9, 121, 0.3477766106442577) 0%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1px;
    font-family: 'Lato';
    color: white;
}

.container {
    top: 150px;
    position: absolute;
    width: 100%;
    padding: 1% 8% 75px;
    margin: 0 auto;
}

.title {
    color: #8D8D8D;
    font-weight: bold;
}

.description {
    font-size: 20px;
}