{% extends 'newbase.html' %}
<!-- 
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'detail_barang/detail_barang.css' %}"/>
    </head>
    <body>

        <div class="upper">
            <a href="/daftar_barang/" class="button" id="back-button">BACK</a>
        </div>
        
        <div class="container"> 
            <table>
                <tr>
                  <th>ID barang</th>
                  <th>Nama barang</th>
                  <th>Warna</th>
                  <th>Kondisi</th>
                  <th>Action (all user)</th>
                  <th>Action (admin)</th>
                  <th>Action (anggota)</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Gundam</td>
                  <td>Multi Coloured</td>
                  <td>Tersedia</td>
                  <td>
                      <a href="/detail_barang/gundam/"  class="button" id="lihatdetail-button">Lihat Detail Barang</a>
                  </td>
                  <td>
                      <a href="#Delete" class="button" id="delete-button">Delete</a>
                  </td>
                  <td>
                        <a href="#Delete" class="button" id="delete-button">Delete</a>
                  </td>
                </tr>
              </table>

              <a href="#tambah_barang" class="button" id="tambah-button" >Tambah barang</a>
        </div>


    </body>
</html> -->

{% block title %}
    Detail barang
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'detail_barang/detail_barang.css' %}"/>
{% endblock %}

{% block content %}    
    <div class="container"> 
        <table>
            <tr>
              <th>ID barang</th>
              <th>Nama barang</th>
              <th>Warna</th>
              <th>Kondisi</th>
              <th>Action (all user)</th>
              <th>Action (admin)</th>
              <th>Action (anggota)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Gundam</td>
              <td>Multi Coloured</td>
              <td>Tersedia</td>
              <td>
                  <a href="/detail_barang/gundam/"  class="button" id="lihatdetail-button">Lihat Detail Barang</a>
              </td>
              <td>
                  <a href="#Delete" class="button" id="delete-button">Delete</a>
              </td>
              <td>
                    <a href="#Delete" class="button" id="delete-button">Delete</a>
              </td>
            </tr>
          </table>

          <a href="#tambah_barang" class="button" id="tambah-button" >Tambah barang</a>
    </div>


{% endblock %}