{% extends 'newbase.html' %}
<!-- <!DOCTYPE html>
<html>
<head>
{% load static %}
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'detail_barang/detail.css' %}">
    <title>Gundam</title>
</head>
<body>
    <a href="/detail_barang/" class="button" id="back-button">BACK</a>

    <div class="container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61MZsG8GckL._SX466_.jpg">

        <div class="image-detail">
            <h1>THE DETAIL</h1>
            <p>
                A fifth Generation Gundam designed and tuned specifically for Celestial Being's first Innovator, Gundam Meister Setsuna F. Seiei, 00 Qan[T] is the latest mobile suit (MS) designed by Celestial Being. Its blueprints originated from an Innovators draft and was sent over from Veda/Tieria (with level 7 clearance) for Celestial Being engineers to analyze and develop. As the successor to GN-0000+GNR-010 00 Raiser, 00 Qan[T] contains an upgraded and improved Twin Drive System and possesses the new Quantum System. Whereas Zabanya and Harute were developed using parts from their predecessors, 00 Qan[T]'s was made as a new mobile suit. The development resources and focus used on 00 Qan[T] is that of a higher level than the other two.
            </p>
        </div>
    </div>
</body>
</html> -->

{% block title %}
    Detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'detail_barang/detail.css' %}">
{% endblock %}

{% block content %}
    <!-- <a href="/detail_barang/" class="button" id="back-button">BACK</a> -->
    <div class="container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61MZsG8GckL._SX466_.jpg">

        <div class="image-detail">
            <h1>THE DETAIL</h1>
            <p>
                A fifth Generation Gundam designed and tuned specifically for Celestial Being's first Innovator, Gundam Meister Setsuna F. Seiei, 00 Qan[T] is the latest mobile suit (MS) designed by Celestial Being. Its blueprints originated from an Innovators draft and was sent over from Veda/Tieria (with level 7 clearance) for Celestial Being engineers to analyze and develop. As the successor to GN-0000+GNR-010 00 Raiser, 00 Qan[T] contains an upgraded and improved Twin Drive System and possesses the new Quantum System. Whereas Zabanya and Harute were developed using parts from their predecessors, 00 Qan[T]'s was made as a new mobile suit. The development resources and focus used on 00 Qan[T] is that of a higher level than the other two.
            </p>
        </div>
    </div>
{% endblock %}