
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pesanan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pesanan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
body {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Lato', sans-serif;
  }
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  #utama {
    background-color: #aedfe5;
    color: black;
  }

  .container {
    margin-top: 30px;
    position: relative;
}

    .selection-form {
        width: 37em;
        margin: 3em auto;
        background-color: #f3efe7;
        padding: 2em;
    }

    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
.bubu {
    cursor: pointer;
    margin: 0;
    padding: .2em 1em;
    background: #636363;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
  }
     /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>


<body class="container">
    <div class="section-form">
    <h1 style="text-align:center;">DAFTAR PEMESANAN</h1>
    <br>
    <table class="table table-hover">
        <thead>
            <tr id="utama">
                <th scope="col">ID PESANAN</th>
                <th scope="col">DAFTAR BARANG</th>
                <th scope="col">HARGA</th>
                <th scope="col">STATUS</th>
                <th scope="col">ACTION</th>
            </tr>
            <tr>
                <td>OR01</td>
                <td>Boneka</td>
                <td>15000</td>
                <td>Sedang dikirim</td>
                <td><a href="{% url 'updatepesanan' %}" class="bubu" role="button" aria-pressed="true">Update</a></td>
            </tr>
            <tr>
                <td>OR02</td>
                <td>Robot</td>
                <td>20000</td>
                <td>Dalam masa sewa</td>
                <td><a href="{% url 'updatepesanan' %}" class="bubu" role="button" aria-pressed="true">Update</a>
                <!-- <a href="#" class="bubu" role="button" aria-pressed="true" id='myBtn'>Delete</a> -->
                </td>
            </tr>
        </thead>
    <tbody>
    </tbody>
    </table>
    </div>
<!-- The Modal -->
<div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div style="text-align:center;">
                <h2>Apakah benar ingin menghapus pesanan tersebut?</h2>
                <br>
                <button class="button button1">Hapus</button>
                <button class="button button3">Batalkan</button>
                <br>
            </div>
        </div>
        
    </div>
    
        <script>
            // Get the modal
            var modal = document.getElementById('myModal');
            
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                modal.style.display = "none";
                }
            }
        </script>
</body>
</html>

