
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pesanan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pesanan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
.body {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Lato', sans-serif;
  }
  
  .section-form {
    width: 37em;
    margin: 3em auto;
    background-color: #f3efe7;
    padding: 2em;
  }
  .section-form .intro {
    margin-bottom: 2em;
  }
  .section-form h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.6em;
  }
  .section-form h2 {
    text-align: center;
    font-size: 1.23077em;
  }
  
  input[type=text] {
    height: 45px;
  }
  
  input[type=text], textarea {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;
    margin-top: 1em;
  }

  .dropdown {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .7em 1em;
    border: none;
    color: #555555;
    font-weight: 300;
    margin-top: 1em;
  }
  
  input[type=button] {
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
  }
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>


<body class="body">
    <div class="section-form">
        <form method="post" action="#">
            <div class="intro"> 
            <h1 style="text-align:center;">FORM PEMESANAN</h1>
            </div>
                Anggota:<br>
                <select name="role" class='dropdown'>
                    <option value="anggota1">Richardo Richman</option>
                    <option value="anggota2">Pradipta Fikri</option>
                    <option value="anggota3">Pradipta Naufal</option>
                </select>
                <br>
                Barang:<br>
                <select name="role" class='dropdown' multiple>
                    <option value="boneka">Boneka</option>
                    <option value="robot">Robot</option>
                    <option value="barbie">Barbie</option>
                </select>
                <br>
                Lama Sewa:<br>
            <input type="text" value="" placeholder="Lama Sewa (hari)" name="lamasewa" tabindex="1"/>
            <input type="button" value="Submit" tabindex="6" id='myBtn'/>
        </form>
    </div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div style="text-align:center;">
            <h2>Total dari pesanan anda adalah</h2>
            <br>
            <h1>Rp 100.000,-</h1>
            <br>
        </div>
    </div>
    
</div>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
            modal.style.display = "none";
            }
        }
    </script>
</body>
</html>