{% extends 'navbar.html' %}
{% load static %}
{% block title %}
List level
{% endblock  %}
{% block css %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'level/js/level.js' %}"></script>
{% endblock %}
{% block content %}
<style>
    * {
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr:hover {
        background-color: rgb(184, 184, 184);

    }

    #utama {
        background-color: #aedfe5;
        color: black;
    }

    .container {
        margin-top: 30px;
        position: relative;
    }

    .section-form {
        margin-top: 40px;
        margin: 3em auto;
        padding: 2em;
    }
    .bubu {
    cursor: pointer;
    margin: 0;
    padding: .2em 1em;
    background: #aedfe5;
    border: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
  }
  .bubu2 {
    cursor: pointer;
    margin: 0;
    padding: .2em 1em;
    background: #ffbcc4;
    border: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
  }
</style>

{% if request.session.role == 'admin' %}
<div class="section-form">
    <h1 style="text-align:center;">DAFTAR LEVEL</h1>
    <br>
    <table class="table">
        <tr id="utama">
            <th scope="col">NAMA LEVEL</th>
            <th scope="col">MINIMUM POIN</th>
            <th scope="col">DESKRIPSI</th>
            {% if request.session.role == "admin" %}
            <th scope="col">ACTION</th>
            {% endif %}
        </tr>

        {% for d in data %}
        <tr>
            <th> {{ d.nama_level }}</th>
            <th> {{ d.minimum_poin }}</th>
            <th> {{ d.deskripsi }}</th>
            <th><a href="#" class="bubu" role="button" aria-pressed="true">Update</a>
                <a class="bubu2" role="button" aria-pressed="true" id='myBtn' data-toggle="modal" data-target="#modal-{{d.nama_level}}">Delete</a>
            </th>
        </tr>
         <!-- Modal Delete -->
    <div class="modal fade" id="modal-{{d.nama_level}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this level?
                        This process cannot be undone, and you have to add this item again manually!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <a class="btn btn-danger" href="delete/{{d.nama_level}}/" role="button">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
{% else %}
<h1 style="text-align:center">You are not an admin</h1>

{% endif %}

{% endblock %}
<!-- The Modal -->
<!-- <div id="myModal" class="modal"> -->

<!-- Modal content -->
<!-- <div class="modal-content">
    <span class="close">&times;</span>
    <div style="text-align:center;">
        <h2>Apakah benar ingin menghapus level tersebut?</h2>
        <br>
        <button class="button button1">Hapus</button>
        <button class="button button3">Batalkan</button>
        <br>
    </div>
</div>

</div> -->
<!--     
        <script>
            // Get the modal
            var modal = document.getElementById('myModal');
            
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                modal.style.display = "none";
                }
            }
        </script> -->

