{% extends 'navbar.html' %}

{% load static %}

{% block title %}
Level
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'level/level.css' %}">
{% endblock %}

{% block content %}

{% if request.session.role == 'admin' %}
<div class="container">
    <div class="section-form">
        <form method="post" action="#">
            <div class="intro">
                <h1 style="text-align:center;">FORM LEVEL</h1>
            </div>
            Nama Level:<br>
            <input type="text" value="" placeholder="Nama Level" name="namalevel" tabindex="1"/>
            Minimum Poin:<br>
            <input type="text" value="" placeholder="Minimum Poin" name="minpoin" tabindex="1"/>
            Deskripsi:<br>
            <input type="text" value="" placeholder="Deskripsi" name="deskripsi" tabindex="1"/>
            <br>
            <br>
            <a id="submit-button" href="#Submit" role="button" aria-pressed="true">Submit</a>
        </form>
    </div>
</div>
{% else %}
<h2 style="text-align:center">You are not an admin</h2>
{% endif %}
{% endblock %}