{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Add New Item
{% endblock %}
{% block css %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'level/js/level.js' %}"></script>
{% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card w-50 bg-dark text-white">
            {% if request.session.role == 'admin' %}
            <div class="card-body">
                <div class="text-center">
                    <h4>Insert/Update Level to Database </h4>
                    <br>
                    <!-- Message Cards -->
                    <div class="card bg-info d-none" id="waitCard">
                        <div class="card-body">
                            <b><span class="text-white">Processing... Please Wait!</span></b>
                        </div>
                    </div>
                    <div class="card bg-success d-none" id="successCard">
                        <div class="card-body">
                            <b><span id="success" class="text-white"></span></b>
                        </div>
                    </div>
                    <div class="card bg-danger d-none" id="errorCard">
                        <div class="card-body">
                            <b><span id="error" class="text-white"></span></b>
                        </div>
                    </div>
                    <!-- Message Card Ends -->
                </div>
                {% csrf_token %}
                {{ level_registration_form | crispy }}
                <div class="text-center">
                    <button class="btn btn-danger" id="add_level_button" onclick="do_add_level()">Add Level</button>
                </div>
            </div>
            {% else %}
            <div class="card-body">
                <div class="text-center">
                    <h4>Sorry!</h4>
                    <p>You are not eligible to see this page</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
