<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pesanan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pesanan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    body {
        box-sizing: border-box;
    }

    html {
        font-family: 'Lato', sans-serif;
    }

    .section-form {
        width: 37em;
        margin: 3em auto;
        background-color: #f3efe7;
        padding: 2em;
    }

    .section-form .intro {
        margin-bottom: 2em;
    }

    .section-form h1 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 0.6em;
    }

    .section-form h2 {
        text-align: center;
        font-size: 1.23077em;
    }

    input[type=text] {
        height: 45px;
    }

    input[type=text], textarea {
        width: 100%;
        margin-bottom: 1em;
        font-size: .9em;
        color: #cfcece;
        font-weight: 300;
        padding: .5em 1em;
        border: none;
        color: #555555;
        font-weight: 300;
        margin-top: 1em;
    }

    .dropdown {
        width: 100%;
        margin-bottom: 1em;
        font-size: .9em;
        color: #cfcece;
        font-weight: 300;
        padding: .7em 1em;
        border: none;
        color: #555555;
        font-weight: 300;
        margin-top: 1em;
    }

    input[type=button] {
        cursor: pointer;
        margin: 0;
        padding: .5em 2em;
        background: #636363;
        border: none;
        color: #fff;
        font-size: 1em;
        font-weight: 400;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        text-align: right;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .bubu {
        cursor: pointer;
        margin: 0;
        padding: .5em 2em;
        background: #636363;
        border: none;
        color: #fff;
        font-size: 1em;
        font-weight: 400;
    }
</style>


<body class="bodyTamu">
<div class="section-form">
    <form method="post" action="#">
        <div class="intro">
            <h1 style="text-align:center;">FORM UPDATE LEVEL</h1>
        </div>
        Nama Level:<br>
        <input type="text" value="" placeholder="Nama Level" name="namalevel" tabindex="1"/>
        <br>
        Minimum Poin:<br>
        <input type="text" value="" placeholder="Minimum Poin" name="minpoin" tabindex="1"/>
        <br>
        Deskripsi:<br>
        <input type="text" value="" placeholder="Deskripsi" name="deskripsi" tabindex="1"/>
        <br>
        <br>
        <a href="{% url 'daftarlevel' %}" class="bubu" role="button" aria-pressed="true">Update</a>
    </form>
</div>

</body>
</html>