{% extends 'navbar.html' %}

{% block title %}
    Product Detail
{% endblock %}

{% block css %}
<style>
    .container {
        display:flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">

    <h1>Product detail page</h1>
</div>

{% endblock %}