{% extends 'navbar.html' %}
{% load static %}
{% block title %}
Product Lists
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'products/product_list.css' %}">
</head>
<table>
<tr>
    <th>Id barang</th>
    <th>Nama item</th>
    <th>Warna</th>
    <th>Foto</th>
    <th>Kondisi</th>
    <th>Lama penggunaan</th>
    <th>Nomor KTP penyewa</th>
    <th>Detail barang</th>
    {% if request.session.role == "admin" %}
    <th>Action</th>
    {% endif %}
</tr>
{% for d in data %}
<tr>
    <td> {{ d.id_barang }} </td>
    <td> {{ d.nama_item }} </td>
    <td> {{ d.warna }} </td>
    <td> {{ d.url_foto }} </td>
    <td> {{ d.kondisi }} </td>
    <td> {{ d.lama_penggunaan }} </td>
    <td> {{ d.no_ktp_penyewa }} </td>
    <td>
        <a class="button" id="detail-button" href="detail/">Detail</a>
    </td>
    {% if request.session.role == "admin" %}
    <td>
        <a class="button" id="update-button" href="#Update">Update</a>
        <a class="button" id="delete-button" href="delete/{{ d.id_barang }} ">Delete</a> 
    </td>
    {% endif %}
</tr>
    {% endfor %}
</table>
{% endblock %}
