.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-form {
    width: 37em;
    background-color: #f3efe7;
    padding: 2em;
}

.section-form .intro {
    margin-bottom: 2em;
}

.section-form h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

.section-form h2 {
    text-align: center;
    font-size: 1.23077em;
}

input[type=text] {
    height: 45px;
}

@media only screen and (max-width: 600px) {
    .section-form {
        width: 20em;
    }
}

#submit-button {
    padding: 10px;
    background: rgb(45, 75, 175);
    color: white;
    text-decoration: none;
}

#submit-button:hover {
    background: rgb(82, 128, 228);
    color: white;
}

input[type=text], textarea {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;
    margin-top: 1em;
}

input[type=button] {
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

