#title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    padding: 20px;
    background: #f3efe7;
    border-color: #f3efe7;
    line-height: 30pt;
    width: 70%;
}

.the-button {
    /* border-radius: 50%; */
    border-style: solid;
    font-weight: bold;
    border-width: 5px;
    font-size: 12pt;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    padding: 2px 6px;
}

.sign-in-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.sign-in-section * {
    margin-left: 10px;
    margin-right: 10px;
}

#punya-akun {
    font-size: 13pt;
}

#register_button {
    background-color: #636363;
    border-color: #636363;
    color: white;
    margin-top: 15px;
}

#register_button:hover {
    background-color: white;
    color: #636363;
    text-decoration-line: none;
}

#sign-in-button {
    background-color: rgb(17, 72, 134);
    color: white;
    border-color: rgb(17, 72, 134);
    padding-left: 10px;
    padding-right: 10px;
}

#sign-in-button:hover {
    background-color: white;
    border-color: green;
    color: green;
}

input[type=text] {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    border: none;
}


@media only screen and (max-width: 600px) {

    .form {
        width: 90%;
    }

    input[type=text] {
        width: 70%;
    }

    .sign-in-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}