{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  Your Profile
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<br><br>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="card w-75 bg-dark text-white">
			<div class="card-body">
				<h4 class="text-center">Your Profile</h4>
				<br>
				<div class="row">
					<div class="col-8">
						<p class="font-weight-bold">Full Name: <span class=font-weight-normal>{{ request.session.nama_lengkap }}</span></p>
						<p class="font-weight-bold">E-mail Address: <span class=font-weight-normal>{{ request.session.email }}</span></p>
						<p class="font-weight-bold">Date of Birth: <span class=font-weight-normal>{{ request.session.tanggal_lahir }}</span></p>
						<p class="font-weight-bold">Phone Number: <span class=font-weight-normal>{{ request.session.no_telp }}</span></p>
						<p class="font-weight-bold">Role in TR - Toys Rent: <span class=font-weight-normal>{{ request.session.role }}</span></p>					
						{% if request.session.role == "anggota" %}
						<p class="font-weight-bold">Total Points: <span class=font-weight-normal>{{ request.session.poin }}</span></p>
						<p class="font-weight-bold">Current Level: <span class=font-weight-normal>{{ request.session.level }}</span></p>
						<p class="font-weight-bold">Address: <span class=font-weight-normal>{{ request.session.alamat }}</span></p>
						{% endif %}
					</div>
					<div class="col-4">
						<img class="img-fluid" src="{% static 'home/images/toys.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
