* {
    margin: 20px 20px 20px 20px;
    justify-content: center;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.back-button {
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 20px 20px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.lihatdetail-button {
    border-style: solid;
    border-color: rgb(47, 202, 189);
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(47, 202, 189);
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.lihatdetail-button:hover {
    border-color: rgb(47, 202, 189);
    background-color: white;
    color: rgb(47, 202, 189);
    font-weight: bold

}

td {
    padding: 20px 20px;
}
