{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
API TR-ToysRent
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card w-50 bg-dark text-white">
            <div class="card-body">
                <div class="text-center">
                    <h4>Hello! Welcome to TR - ToysRent API </h4>
                    <p> /api/ url will be used to retreive data from databases.
                        Please refer to README-DB.md for more information how to use endpoints</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
