{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
        {% block link %} {% endblock %}
        <title>Toys Rent</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Toys Rent</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/daftar_detail_barang/">Daftar Barang <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <a href="/logout" class="menu">Logout</a>
                    <a class="menu" id="firstlast">{{ user.first_name }} {{ user.last_name }} </a>
                {% else %}
                    <a href = "#" data-toggle = "modal" data-target = "#loginModal" data-dismiss="modal">Login</a>&nbsp or &nbsp <a href="#" data-toggle = "modal" data-target = "#createModal" data-dismiss="modal">Create Account</a>
                {% endif %}
            </div>
        </nav>
        <div class = "body">
            <div class = "modalauth">
                {% if user.is_authenticated %}
                
                {% else %}
                <script type="text/javascript">
                    $(window).on('load',function(){
                        $('#createModal').modal('hide');
                        $('#loginModal').modal('show');
                    }); 
                </script>
                <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Login or <a href="#" data-toggle = "modal" data-target = "#createModal" data-dismiss="modal">Create account</a></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                <form>
                                <div class="form-group">
                                    <label for="inputKTP">No. KTP</label>
                                    <input type="number" class="form-control" id="loginKTP" placeholder="No. KTP">
                                    <small id="KTPHelp" class="form-text text-muted">We'll never share your KTP number with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="loginName">Nama</label>
                                    <input type="text" class="form-control" id="loginName" aria-describedby="nameHelp" placeholder="Name">
                                    <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="createModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Create Account or <a href="#" data-toggle = "modal" data-target = "#loginModal" data-dismiss="modal">Login</a></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <div class="modal-body">
                                    <form>
                                    <div class="form-group">
                                        <label for="penggunaKTP">No. KTP</label>
                                        <input type="number" class="form-control" id="penggunaKTP" placeholder="No. KTP">
                                    </div>
                                    <div class="form-group">
                                        <label for="penggunaNama">Nama Lengkap</label>
                                        <input type="text" class="form-control" id="penggunaNama" placeholder="Nama">
                                    </div>
                                    <div class="form-group">
                                        <label for="penggunaEmail">Email</label>
                                        <input type="email" class="form-control" id="penggunaEmail" placeHolder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="penggunaTanggalLahir">Tanggal lahir</label>
                                        <input type="date" class="form-control" id="penggunaTanggalLahir"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="penggunaNomorTelepon">Nomor Telepon</label>
                                        <input type="text" class="form-control" id="penggunaNomorTelepon" placeHolder="Nomor Telepon">
                                    </div>
                                    <div class="form-group">
                                        <label for="penggunaAlamat">Alamat</label>
                                        <input type="text" class="form-control" id="penggunaAlamat">
                                    </div>
                                    <a href="#" data-toggle = "modal" data-target = "#adminModal" data-dismiss="modal">admin?</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="adminModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Create Admin Account or <a href="#" data-toggle = "modal" data-target = "#loginModal" data-dismiss="modal">Login</a></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <div class="modal-body">
                                        <form>
                                        <div class="form-group">
                                            <label for="penggunaKTP">No. KTP</label>
                                            <input type="number" class="form-control" id="penggunaKTP" placeholder="No. KTP">
                                        </div>
                                        <div class="form-group">
                                            <label for="penggunaNama">Nama Lengkap</label>
                                            <input type="text" class="form-control" id="penggunaNama" placeholder="Nama">
                                        </div>
                                        <div class="form-group">
                                            <label for="penggunaEmail">Email</label>
                                            <input type="email" class="form-control" id="penggunaEmail" placeHolder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="penggunaTanggalLahir">Tanggal lahir</label>
                                            <input type="date" class="form-control" id="penggunaTanggalLahir"> 
                                        </div>
                                        <div class="form-group">
                                            <label for="penggunaNomorTelepon">Nomor Telepon</label>
                                            <input type="text" class="form-control" id="penggunaNomorTelepon" placeHolder="Nomor Telepon">
                                        </div>
                                        <a href="#" data-toggle = "modal" data-target = "#createModal" data-dismiss="modal">Not an admin?</a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>