{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>

<style>
    * {
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            {% if request.session.role == "admin" %}
            <li class="nav-item active">
                <a class="nav-link" href="/profile/">Your Profile</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="item-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Items
                </a>
                <div class="dropdown-menu" aria-labelledby="item-dropdown">
                    <a class="dropdown-item" href="/items/add/">Add Item</a>
                    <a class="dropdown-item" href="/items/">Item List</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="product-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="product-dropdown">
                    <a class="dropdown-item" href="/products/add/">Add Product</a>
                    <a class="dropdown-item" href="/products/">Product List</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="level-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Levels
                </a>
                <div class="dropdown-menu" aria-labelledby="level-dropdown">
                    <a class="dropdown-item" href="/level/add_level">Add Level</a>
                    <a class="dropdown-item" href="/level/daftar_level/">Level List</a>
                </div>
            </li>
            {% elif request.session.role == "anggota" %}
            <li class="nav-item active">
                <a class="nav-link" href="/profile/">Your Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/items/">Items</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/products/">Products</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="order-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="order-dropdown">
                    <a class="dropdown-item" href="/orders/add/">Add Order</a>
                    <a class="dropdown-item" href="/orders/list/">Order List</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand" href="/">
            <img src="{% static 'home/images/toys.png' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            TR - ToysRent
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if request.session.role == "admin" %}
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="order-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="order-dropdown">
                    <a class="dropdown-item" href="/orders/add/">Add Order</a>
                    <a class="dropdown-item" href="/orders/list/">Order List</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="delivery-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Deliveries
                </a>
                <div class="dropdown-menu" aria-labelledby="delivery-dropdown">
                    <a class="dropdown-item" href="/deliveries/add/">Add Delivery</a>
                    <a class="dropdown-item" href="/deliveries/list/">Delivery List</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/chats/">Chat</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/reviews/">Review</a>
            </li>
            <a class="btn btn-danger" href="/auth/logout" role="button">Logout</a>
            {% elif request.session.role == "anggota" %}
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" id="delivery-dropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Deliveries
                </a>
                <div class="dropdown-menu" aria-labelledby="delivery-dropdown">
                    <a class="dropdown-item" href="/deliveries/add/">Add Delivery</a>
                    <a class="dropdown-item" href="/deliveries/">Delivery List</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/chats/">Chat</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/reviews/">Review</a>
            </li>
            <a class="btn btn-danger" href="/auth/logout" role="button">Logout</a>
            {% else %}
            <a class="btn btn-danger" href="/auth/login" role="button">Login</a>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>