{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
            margin: 0 auto;
        }

        body {
            font-family: 'Lato', sans-serif;
        }

        .top-navbar {
            overflow: hidden;
            margin-bottom: 100px;
            background-color: #636363;
        }

        .top-navbar a { 
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            float: left;
        }

        .top-navbar a:hover {
            background-color: #111;
            text-decoration-line: none;
            color: white;
        }

        .top-navbar h1 {
            margin: 20px;
        }

        .top-navbar .right-navbar {
            float: right;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}

</head>

<body>
    <div class="top-navbar">
        <h1 style="color:white">Toys Rent</h1>
        <a  href="#home">Home</a>
        <a href="/">Create Account</a>
        <a href="/daftar_barang/">Lihat Barang</a>
        <a href="/level/">Level</a>
        <a href="#contact">Lihat Barang Sewa</a>
        <div class="right-navbar">
            <a href="#Profil">Profil</a>
            <a href="#Sign in">Login</a>
            <a href="#logout">Logout</a>
        </div>
    </div class="top-navbar">
    {% block content %}
    {% endblock %}
</body>
</html>