{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    List Review
{% endblock  %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'deliveries/js/deliveries.js' %}"></script>
  <script type="text/javascript" src="{% static 'deliveries/js/bootstrap-table-pagination.js' %}"></script>
{% endblock %}

{% block content %}
<style>
  * {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  tr:hover {
      background-color:rgb(184, 184, 184);

    }

  #utama {
    background-color: #aedfe5;
    color: black;
  }

  .container {
    margin-top: 30px;
    position: relative;
}

.section-form {
    margin-top: 40px;
    margin: 3em auto;
    padding: 2em;
}
</style>

<div class="section-form">
<h1 style="text-align:center;">DAFTAR REVIEW</h1>
<br>
<table class="table">
  <thead>
    <tr id="utama">
        <th scope="col">ID PENGIRIMAN</th>
        <th scope="col">BARANG</th>
        <th scope="col">REVIEW</th>
        <th scope="col">TANGGAL REVIEW</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody id="list_pengiriman_body">
    {% if request.session.role == "anggota" %}
    {% for d in data %}
    {% if d.anggota == request.session.nama_lengkap %}
    <!-- ini get datanya ubah -->
    <tr>
      <td> {{ d.no_resi}} </td>
      <td> {{ d.id_barang }} </td>
      <td> {{ d.review }} </td>
      <td> {{ d.tanggal_review }} </td>
        <td> <a class="btn btn-dark btn-sm" href="add/" role="button">Update</a> </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{d.no_resi}}">
            Delete
          </button>
        </td>
    </tr>
    <!-- Modal Delete -->
		<div class="modal fade" id="modal-{{d.no_resi}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this item?
              This process cannot be undone, and you have to add this item again manually!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>					
              <a class="btn btn-danger" href="delete/{{d.no_resi}}/" role="button">Yes</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    
    {% elif request.session.role == "admin" %}
    {% for d in data %}
    <!-- ini get datanya ubah -->
    <tr>
        <td> {{ d.no_resi}} </td>
        <td> {{ d.id_barang }} </td>
        <td> {{ d.review }} </td>
        <td> {{ d.tanggal_review }} </td>
        <td> <a class="btn btn-dark btn-sm" href="add/" role="button">Update</a> </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{d.no_resi}}">
            Delete
          </button>
        </td>
    </tr>
    <!-- Modal Delete -->
		<div class="modal fade" id="modal-{{d.no_resi}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this item?
              This process cannot be undone, and you have to add this item again manually!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>					
              <a class="btn btn-danger" href="delete/{{d.no_resi}}/" role="button">Yes</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    {% endif %}
  </tbody>
</table>
  
<div class="col-md-12 text-center">
    <ul class="pagination pagination-lg pager" id="developer_page"></ul>
  </div>
</div>

{% endblock %}