table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: rgb(245, 236, 198);
}

.button {
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    padding: 3px;
    font-size: 10pt;
    text-align: center;
}

.button:hover {
    text-decoration-line: none;
}

#update-button {
    background-color: rgb(22, 110, 192);
    color: white;
    border-color:  rgb(22, 110, 192);
}

#update-button:hover {
    background-color: white;
    color: rgb(22, 110, 192);
    border-color:  rgb(22, 110, 192);
}

#delete-button {
    background-color: rgb(187, 44, 44);
    color: white;
    border-color: rgb(187, 44, 44);
}

#delete-button:hover {
    background-color: white;
    color: rgb(187, 44, 44);
    border-color: rgb(187, 44, 44);
}

#detail-button {
    background-color: rgb(68, 153, 35);
    color: white;
    border-color: rgb(68, 153, 35);
}

#detail-button:hover {
    background-color: white;
    color: rgb(68, 153, 35);
}