.button {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    text-decoration-line: none;
}

#back-button {
    border-color: black;
    color: white;
    background-color: black;
}

#back-button:hover {
    border-color: black;
    color: black;
    background-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lihatdetail-button {
    border-color: #636363;
    background-color: #636363;
    color: white;
    font-weight: bold;
}

#lihatdetail-button:hover {
    border-color: #636363;
    background-color: white;
    color: #636363;
}

td {
    padding: 20px;
}

#delete-button {
    background-color: red;
    color: white;
    border-color: red;
}

#delete-button:hover {
    background-color: white;
    color: red;
}

#tambah-button {
    margin-top: 40px;
    background-color: rgb(17, 72, 134);
    border-color: rgb(17, 72, 134);
    color: white;
}

#tambah-button:hover {
    background-color: white;
    color: rgb(17, 72, 134);
}
