.button {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

#back-button {
    margin-left: 20PX;
    margin-top: 1000px;
    border-color: black;
    color: white;
    background-color: black;
}

#back-button:hover {
    border-color: black;
    color: black;
    background-color: white;
}

.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(151, 150, 150);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: fit-content;
}

.container * {
    margin-top: 20px;
}

.image-detail {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 10pt;
    }

    .image-detail {
        padding: 20px;
        width: 90%;
    }

    .container {
        width: 90%;
    }
}