{% extends 'navbar.html' %}
{% load static %}
{% block title %}
Item Lists
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'products/product_list.css' %}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'items/js/items.js' %}"></script>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Min. Age</th>
        <th>Max. Age</th>
        <th>Material</th>
        {% if request.session.role == "admin" %}
        <th>Modify</th>
        <th>Remove</th>
        {% endif %}
    </tr>
    {% for d in data %}
    <tr>
        <td> {{ d.nama }}</td>
        <td> {{ d.deskripsi }}</td>
        <td> {{ d.usia_dari }}</td>
        <td> {{ d.usia_sampai }}</td>
        <td> {{ d.bahan }}</td>
        {% if request.session.role == "admin" %}
        <td><a class="btn btn-dark btn-sm" href="add/" role="button">Change</a></td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{d.item_id}}">
                Delete
            </button>
        </td>
        {% endif %}
    </tr>
    <!-- Modal Delete -->
    <div class="modal fade" id="modal-{{d.item_id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                    This process cannot be undone, and you have to add this item again manually!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a class="btn btn-danger" href="delete/{{d.item_id}}/" role="button">Yes</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</table>
{% endblock %}
